# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/medcare_db

# Redis
REDIS_URL=redis://localhost:6379

# JWT Secret for Admin Auth
JWT_SECRET=medcare-super-secret-key-change-in-production

# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=1